<div class="pot--header">
    <div class="pot-logo">
        <img src="assets\POT.png" class="img">
       
    </div>
    
    <div class="pot--header--nav">
        <!-- <div class="pot--top--bar">
            
            <a href="#">Exchange & Returns</a>
            <a href="#">Order Tracker</a>
            <a href="#">SignUp / Login</a>
        </div> -->
        <div class="pot--bottom--bar">
            <div class="pot-menu">
                <a routerLink="home">Home</a>
                
                
                <a routerLink='login'>login</a>
                <a routerLink="reg">adminreg</a>
                <a routerLink="admind">admindashboard</a>
                
            </div>
            <!-- <div class="pot--search-bar">
                <input type="text" class="pot-search-box" placeholder="Search">
                <button class="pot--search--btn">
                    <i class="bi bi-search"></i>
                </button>
            </div> -->
        </div>
        
    </div>
</div>
