div {
    max-width: 600px;
    margin: auto;
    padding: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  

 
  
  .alert {
    padding: 15px;
    background-color: #4caf50;
    color: white;
    margin-bottom: 15px;
  }
  .body{
    width: 200px;
    height: 20%;
    top: 40px;
    left: 100%;
  }

  .employee-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.form-row {
  grid-column: span 2; /* Make this span across two columns */
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}
